* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    color: #293264;
}


.start-container {
    background-color: #F5F7FB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-container h1 {
    font-size: 5rem;
    margin-bottom: .3em;
}

.start-container p {
    font-size: 1.8rem;
}


